@import '../../scss/main.scss';

.cookdeck{
	margin-top: 4rem;
	border: 1px solid black;
	height: auto;
}

.pro-cover{
	height: 30vh;
	background-color: $grey;
	border: 1px solid black;
}

.pro-overview{
	height: 30vh;
	background-color: $light-grey;
	border: 1px solid black;
}

.pro-challenge{
	height: 20vh;
	background-color: $grey;
	border: 1px solid black;
}

.pro-solution{
	height: 20vh;
	background-color: $light-grey;
	border: 1px solid black;
}

.pro-userflow{
	height: 20vh;
	background-color: $grey;
	border: 1px solid black;
}

.pro-wireframes{
	height: 20vh;
	background-color: $light-grey;
	border: 1px solid black;
}

.pro-final{
	height: 20vh;
	background-color: $grey;
	border: 1px solid black;
}

.pro-future{
	height: 30vh;
	background-color: $light-grey;
	border: 1px solid black;
}
