@import '../../scss/main.scss';

.contactForm{
	margin-top: 4rem;
	margin-bottom: 8rem;
	padding: 0rem 14rem 0rem 14rem;
	width: auto;
	height: auto;
	color: $dark-grey;
}

.contact-cont{
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type=text] {
	width: 30rem;
	font-family: inherit;
	margin-bottom: 1.5rem;
	padding: 0.625rem;
	border:0;
	border-radius: 0.4rem;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.05);
	transition: all 350ms;
}

input[type=text]:focus{
	background-color: #ebf1ff;
}

input[type=email]:focus{
	background-color: #ebf1ff;
}

textarea:focus{
	background-color: #ebf1ff;
}

input[type=email] {
	width: 30rem;
	font-family: inherit;
	margin-bottom: 1.5rem;
	padding: 0.625rem;
	border:0;
	border-radius: 0.4rem;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.05);
	transition: all 350ms;
}

textarea {
	width: 30rem;
	font-family: inherit;
	margin-bottom: 1.0rem;
	padding: 0.625rem;
	border:0;
	border-radius: 0.4rem;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.05);
	resize: none;
	transition: all 350ms;
}

input[type="text"], input[type="email"], textarea, select {
    outline: none;
}

.form-submit{
	border: 2px solid $blue;
	border-radius: 8px;
	font-family: inherit;
	font-size: 0.85rem;
	font-weight: bold;
	text-align: center;
	color: $dark-grey;
	padding: 0.45rem 1.5rem;
	cursor: pointer;
	transition: all 350ms;
}

.form-submit:hover{
	color: $white;
	background-color: $blue;
}

.con-title{
	margin: 0;
}

.con-content{
	margin-bottom: 2.5rem;
	font-size: 1.2rem;
}

.form-title{
	margin-bottom: 0.8rem;
	font-size: 1.1rem;
	font-weight: bold;
}

.pmessage{
	margin-top: 2.5rem;
	margin-bottom: 4rem;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pthank{
	font-size: 1.15rem;
	color: $blue;
	font-weight: bold;
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
	.contactForm{
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 6rem;
		margin-bottom: 2.5rem;
	}

	.con-content{
		width: 80%;
		text-align: center;
	}

	.form-input-name{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.form-input{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	input[type=text] {
		width: 100%;
	}

	input[type=email] {
		width: 100%;
	}


	textarea{
		width: 100%;
	}

	.pmessage{
		width: 80%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
