@import '../../scss/main.scss';

.homeProject1{
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem 14rem 0rem 28rem;
	margin: 10rem 0rem 10rem 0rem;
}

.p-card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50rem;
	height: auto;
}

.p-image{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50rem;
	height: auto;
}

.p-title{
	width: auto;
	text-decoration: none;
	font-family: $body-stack;
	color: $dark-grey;
	font-size: 1.8rem;
	font-weight: bold;
	transition: all 350ms;
}

.p-title:hover{
	color: $grey;
}

.p-title2{
	font-family: $body-stack;
	color: $grey;
	font-size: 1.0rem;
	font-weight: lighter;
}

.p-content{
	font-size: 1.1rem;
}


.p-link{
	text-decoration: none;
	color: $blue;
	font-size: 1.1rem;
	font-weight: bold;
	transition: all 350ms;
	margin-top: 1.2rem;
}

.p-link:hover{
	color: $grey;
}

.p-content{
	text-align: justify;
}
