@import '../../scss/main.scss';

.homeCover{
	width: auto;
	height: auto;
	padding: 0rem 14rem 0rem 14rem;
	color: $dark-grey;
	margin-bottom: 6rem;
}

.c-title{
	font-size: 1.5rem;
	margin-bottom: 3.5rem;
	color: $dark-grey;
}

.c-title-main{
	font-size: 3.5rem;
	font-family: $body-stack;
	color: $blue;
	margin-bottom: 1.5rem;
}

.c-intro{
	height: auto;
	width: 40%;
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: justify;
	margin-bottom: 2.0rem;
	color: $dark-grey;
}

.c-text{
	font-size: 1.2rem;
	color: $dark-grey;
}

.c-link{
	font-size: 1.2rem;
	color: $blue;
	transition: all 350ms;
	text-decoration: none;
}

.c-link:hover{
	color: $grey;
}
