@import '../../scss/main.scss';

.aboutmeSection{
	margin-top: 4rem;
	padding: 0rem 14rem 0rem 14rem;
	width: auto;
	height: auto;
	color: $dark-grey;
}

.skills{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
}

.container-1{
	width: 50%;
	height: 20rem;
}

.container-2{
	width: 50%;
	height: 20rem;
}

.title{
	font-family: $body-stack;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 1.2rem;
}

.content{
	margin-bottom: 4.0rem;
	text-align: justify;
}

.title-2{
	font-family: $body-stack;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 0.85rem;
}

.title-3{
	font-family: $body-stack;
	font-size: 1.20rem;
	font-weight: bold;
}
