@import './main.scss';

.project-page{
	margin-top: 4rem;
	border: 1px solid black;
	height: auto;
}

.pro-cover{
	height: auto;
	background-color: $grey;
	border: 1px solid black;
}

.pro-overview{
	height: auto;
	background-color: $light-grey;
	border: 1px solid black;
}

.pro-challenge{
	height: auto;
	background-color: $grey;
	border: 1px solid black;
}

.pro-solution{
	height: auto;
	background-color: $light-grey;
	border: 1px solid black;
}

.pro-userflow{
	height: auto;
	background-color: $grey;
	border: 1px solid black;
}

.pro-wireframes{
	height: auto;
	background-color: $light-grey;
	border: 1px solid black;
}

.pro-final{
	height: auto;
	background-color: $grey;
	border: 1px solid black;
}

.pro-future{
	height: auto;
	background-color: $light-grey;
	border: 1px solid black;
}
