@import './main.scss';

.project-page{
	margin-top: 4rem;
	padding: 0rem 14rem 0rem 14rem;
	border: 1px solid black;
	height: auto;
}

.pro-cover{
	width: auto;
	height: auto;
	border: 1px solid black;
}

.pro-overview{
	height: auto;
	border: 1px solid black;
}

.pro-challenge{
	height: auto;
	border: 1px solid black;
}

.pro-solution{
	height: auto;
	border: 1px solid black;
}

.pro-userflow{
	height: auto;
	border: 1px solid black;
}

.pro-wireframes{
	height: auto;
	border: 1px solid black;
}

.pro-final{
	height: auto;
	border: 1px solid black;
}

.pro-future{
	height: auto;
	border: 1px solid black;
}
